//META{"name":"Fujiwara Chika","description":"Kaguya-sama: Love is war Theme","author":"Assistant Hiedra","version":"1.2"}*//{}
@import url(https://hastebin.com/fujenudoce.php); 


:root {
   --bgimage: url("https://pls-fuck.me/6ce73e.png");
   --bgdim: 0.4;
   
   --Primary-Color: #2a2a39;
   --Primary-Transparency-Color: 42, 42, 57;
   --Secondary-Color: #c78e45;
   --Secondary-Transparency-Color: 199, 142, 69;
}


/* Adjustments */

.theme-dark .isMentioned-N-h9aa {
    background: rgba(199,142,69,.1);
    border: 3px solid rgba(199,142,69,0.33);
}
.theme-dark .headerNormal-T_seeN, .theme-dark .topSectionNormal-2-vo2m {
    background: linear-gradient(155deg, rgb(115,82,40), var(--Secondary-Color));
}
.theme-dark .guild-1EfMGQ.unread-qLkInr:before,
.theme-dark .guild-1EfMGQ.selected-ML3OIq:before, .guild-1EfMGQ.selected.unread-qLkInr:before {
    background: linear-gradient(200deg, rgb(115,82,40), rgb(38,27,13));
}